<?xml version="1.0"?>
<!-- Base -->
<launch>
  <!-- For setting debug level to debug -->
  <env name="ROSCONSOLE_CONFIG_FILE" 
       value="$(find usv_gazebo)/config/custom_rosconsole.conf"/>

  <arg name="gui" default="true" />

  <param name="use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find usv_gazebo)/worlds/lake_ball.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="true"/>
  </include>

  <group ns='self'>
    <include file="$(find usv_gazebo)/launch/load_model.launch">
      <arg name="name" value="usv" />
      <arg name="imu" value="true" />
      <arg name="gps" value="true" />
      <arg name="camera" value="true" />
      <arg name="p3d" value="true" />
      <arg name="urdf" value="$(find usv_gazebo)/urdf/usv_gazebo_laser.xacro"/>
      <arg name="x" value="0.0" />
      <arg name="y" value="0.0" />
      <arg name="yaw" value="0.0" />
    </include>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <group ns='target'>
    <include file="$(find usv_gazebo)/launch/load_model.launch">
      <arg name="name" value="usv_2" />
      <arg name="imu" value="false" />
      <arg name="gps" value="true" />
      <arg name="camera" value="false" />
      <arg name="p3d" value="false" />
      <arg name="urdf" value="$(find usv_gazebo)/urdf/usv_gazebo_base.xacro"/>
      <arg name="x" value="-10.0" />
      <arg name="y" value="0.0" />
      <arg name="yaw" value="1.57" />
    </include>
  </group>

</launch>
